html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"] {
  margin-top: 16px;
  padding: 12px;
  border-radius: 5px;
  outline: 1px solid transparent;
  border: 1px solid #158c89;
  font-size: 1.05rem;
  color: #444;
  text-align: center;
  transition: 0.2s outline linear;
}
input[type="text"]:focus {
  border: 1px solid #158c89;
  outline: 1px solid #158c89;
}

.background--custom {
  background: linear-gradient(90deg, #545a78, #822d73, #158c89);
  background-size: 300% 300%;
  animation: gradient 60s alternate infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.card {
  background: #fefefe;
  padding: 25px;
  border-radius: 10px;
  max-width: 650px;
}
