.favoriteAnimalTable th {
  text-transform: capitalize;
}

.favoriteAnimalTable th {
  border-bottom: 1px solid #696969;
}

.favoriteAnimalTable th,
.favoriteAnimalTable td {
  padding: 10px;
  text-align: left;
  min-width: 150px;
}
