.favoriteAnimalTable {
  th {
    text-transform: capitalize;
    border-bottom: 1px solid #696969;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    min-width: 150px;

    &.sender {
      word-break: break-all;
    }
  }
}
